services:
  loki:
    image: grafana/loki:3.1.1
    container_name: loki
    restart: unless-stopped
    command: -config.file=/etc/loki/config.yml
    volumes:
      - ${LOKI_CONFIG}:/etc/loki/config.yml:ro
      - ${LOKI_DATA_DIR}:/loki
    ports:
      - "3100:3100"

  grafana:
    image: grafana/grafana:11.2.2
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
    volumes:
      - ${GRAFANA_DATA_DIR}:/var/lib/grafana
      - ${GRAFANA_PROVISIONING_DIR}:/etc/grafana/provisioning:ro
    ports:
      - "3000:3000"
    depends_on:
      - loki

  promtail:
    image: grafana/promtail:3.1.1
    container_name: promtail
    restart: unless-stopped
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ${PROMTAIL_CONFIG}:/etc/promtail/config.yml:ro
    depends_on:
      - loki

