# Loki
LOKI_CONFIG=/volume1/docker/observer/loki/config.yml
LOKI_DATA_DIR=/volume1/docker/observer/loki-data

# Grafana
GRAFANA_DATA_DIR=/volume1/docker/observer/grafana
GRAFANA_PROVISIONING_DIR=/volume1/docker/observer/grafana-provisioning
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-me-now

# Promtail
PROMTAIL_CONFIG=/volume1/docker/observer/promtail/config.yml

