services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped

    environment:
      - SIGNUPS_ALLOWED=${SIGNUPS_ALLOWED}
      - ADMIN_TOKEN=${ADMIN_TOKEN}
      - ROCKET_PROFILE=release
      - ROCKET_ADDRESS=0.0.0.0
      - ROCKET_PORT=80

    volumes:
      - ${VW_DATA_DIR}:/data

    networks:
      lan_macvlan:
        ipv4_address: ${VW_IPV4}

networks:
  lan_macvlan:
    external: true

