# Vaultwarden settings
SIGNUPS_ALLOWED=true

# IMPORTANT:
# Put your real admin token ONLY in .env (local), never commit it.
ADMIN_TOKEN=change-me

# NAS persistent storage path for Vaultwarden
VW_DATA_DIR=/volume1/docker/vaultwarden

# Example macvlan IP (replace in your local .env)
VW_IPV4=192.168.1.201

