# Update these paths for your NAS
NPM_DATA_DIR=/volume1/docker/npm/data
NPM_LETSENCRYPT_DIR=/volume1/docker/npm/letsencrypt

# Use a LAN IP from your macvlan subnet (example only)
NPM_IPV4=192.168.1.2xx

