services:
  adguard:
    image: adguard/adguardhome:v0.107.71
    container_name: adguard
    restart: unless-stopped
    ports:
      - "3000:3000"
      - "53:53/tcp"
      - "53:53/udp"
      - "3002:80/tcp"
      - "853:853/tcp"
    volumes:
      - /srv/docker/adguard/work:/opt/adguardhome/work
      - /srv/docker/adguard/conf:/opt/adguardhome/conf
